body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding-right: 39px;
    padding-top: 7.5%; /* Adjust according to header height */
    margin-top: 0; /* Remove default margin */
    background-color: rgb(210, 245, 249);
}
.headerlink{
    color: #280400;
}
footer{
    text-align: center;
    color: rgb(0, 16, 16);
    font-size: 75%;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
    padding: 1%;
}
h1 {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
    background: #f53c28;
    background: radial-gradient(circle farthest-side at bottom left, #eeeae9 1%, #e61375 20%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 2rem; /* Adjust font size as needed */
}
a {
    text-decoration:none;
    font-size: 120%;
    color: black;
    font-weight: bold;
}

header {
    position: -webkit-sticky;
    position: sticky;
    margin-top: -7%;
    margin-bottom: 1%;
    margin-right: 2%;
    width: 100%;
    background: gray;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(38, 2, 2, 0.2);
    z-index: 1;
}

.motto {
    background-color: rgb(2, 122, 118);
    margin-left: -3%;
    margin-right: -20px;
    margin-top: -2%;
    text-align: center;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    max-height: 100px; /* Adjust the maximum height as needed */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
}


.motto p {
    /* Rainbow text effect */
    background: #eeeae9;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Pacifico', cursive; /* Pretty font style */
    font-size: 200%; /* Adjust font size as needed */
    padding-left: 5%;
    padding-right: 5%;
}

.curly_brace_left,
.curly_brace_right {
    width: 12%; /* Adjust the size as needed */
    height: 8%;
}

.curly_brace_right {
    transform: scaleX(-1); /* Flip the image horizontally */
}

.social-links img {
    width: 40px;
    height: auto;
    margin-left: 8px;
    margin-right: 3px;
}
.social-links {
    margin-left: 80%; 
    margin-top: -3%;
}
nav {
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.enlarge-link {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 50%; /* Set border-radius to 50% to make it a circle */
}

/* Add the following CSS for the hover effect */
/* Add the following CSS for the hover effect */
.enlarge-link:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 20px 10px rgba(32, 212, 206, 0.8); /* Adjusted box-shadow values */
}

.social-links a:nth-child(1):hover, /* Instagram */
.social-links a:nth-child(2):hover, /* Facebook */
.social-links a:nth-child(3):hover { /* Threads */
    transform: scale(1.2);
    box-shadow: 5px 10px 5px rgb(32, 212, 206); /* Glow effect */
    margin-left: 1px;
    border-radius: 100%;
}

.foooter-divider {
    margin: 0 auto;
    height: 3px; /* Adjust the height of the divider line */
    width: 15%; /* Adjust the width or length of the divider line */
    background: rgba(81, 78, 78, 0.5);
    border-radius: 50%;
}
.dropdown-content {
    display: none;
}

/* Media query to adjust padding-top for smaller screens */
@media screen and (max-width: 800px) {
    body {
        padding-top: 40px; /* Adjust according to header height for smaller screens */
    }
    .social-links {
        display: none; /* Hide the social links on smaller screens */
    }
    .headerlink{
        display: none;
    }


    header {
        position: -webkit-sticky;
        position: sticky;
        margin-bottom: 1%;
        background: gray;
        color: white;
        padding: 10px 20px;
        box-shadow: 0px 2px 5px rgba(38, 2, 2, 0.2);
        z-index: 1;
    }
    .motto {
        background-color: rgb(2, 122, 118);
        margin-left: -8%;
        font-size: 60%;
        text-align: center;
        display: flex;
        align-items: center; /* Align items vertically */
        justify-content: center; /* Align items horizontally */
        max-height: 60px; /* Adjust the maximum height as needed */
    }
    .foooter-divider {
        margin: 0 auto;
        height: 2px; /* Adjust the height of the divider line */
        width: 200px; /* Adjust the width or length of the divider line */
        background: rgba(81, 78, 78, 0.5);
        border-radius: 80%;
    }

    .line {
        display: block;
        margin-left: 90%;
        width: 30px; /* Adjust thickness of lines */
        height: 4px; /* Adjust height of lines */
        background-color: black; /* Adjust color of lines */
        margin-bottom: 5px; /* Adjust spacing between lines */
        border-radius: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(210, 245, 249);
        min-width: 50px;
        margin-left: 55%;
        border-radius: 10%;
        font-size: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 10px;
        z-index: 1;
    }
    
    .dropdown-item {
        margin-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: -2px;
    }
    
    .dropdown-item a {
        display: block;
        margin-left: -20%;
        padding: 5px;
        color: black;
        text-decoration: none;
    }
    
    .dropdown-item a:hover {
        background-color: gray;
        border-radius: 20%;
    }

}

@media screen and ( min-width: 370px ) and ( max-width: 600px ){
    body {
        padding-top: 4%; /* Adjust according to header height for smaller screens */
    }
   
    .foooter-divider {
        margin: 0 auto;
        height: 3px; /* Adjust the height of the divider line */
        width: 200px; /* Adjust the width or length of the divider line */
        background: rgba(81, 78, 78, 0.5);
        border-radius: 50%;
    }
    header {
        position: -webkit-sticky;
        position: sticky;
        margin-top: -7%;
        margin-bottom: 1%;
        background: gray;
        color: white;
        padding: 10px 20px;
        box-shadow: 0px 2px 5px rgba(38, 2, 2, 0.2);
        z-index: 1;
    }
    .motto {
        background-color: rgb(2, 122, 118);
        margin-left: -10%;
        margin-top: -5px;
        font-size: 60%;
        text-align: center;
        display: flex;
        align-items: center; /* Align items vertically */
        justify-content: center; /* Align items horizontally */
        max-height: 60px; /* Adjust the maximum height as needed */
    }
    footer{
        text-align: center;
        color: rgb(0, 16, 16);
        font-size: 60%;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
        padding: 1%;
    }
}
