*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    width: 80vw;
   max-width: 500px;
   min-width: 300px;
   margin: 0% auto;
 padding-bottom: 2em;
}
h2,p, h3{
    margin: 0% auto;
    text-align: center;
    padding: 3%;
}
body {
width: 100%;
height: 100vh;
margin: 0% auto;
 background-color: #1b3229;
color: #89c4ff;
font-family: Italic;
 font-size: 17px;
}
input,select {
  margin: 1% auto;
  width: 100%;
  min-height: 2em;
  padding: 1%;
}
a{
color:rgb(204, 255, 0);
text-decoration: none;
}

a:hover{
color:crimson;
text-decoration: underline;
}
button{
    padding:10px;
    cursor: pointer;
}
input[type="text"], input[type="tel"], input[type="email"], select{
    border: 1px solid yellow;
    border-radius: 5px;
}
input[type="checkbox"] {
    display:block;
  margin: 30px -270px -50px;
}
label {
    display: block;
    margin: 1rem 0;
     padding: 2%;
    }
.inline {
width: unset;
margin: 0 1.5em 2px 3px;
vertical-align: middle;
} 
header, footer{
text-align: center;
}

fieldset {
border: none;
padding: 2rem 0;
border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type {
border-bottom: none;
}
legend{
    padding: 15px 0 0 5px;
    }
img{
width: 80px;
height: 70px;
}
.calculator{
    width: 300px;
    margin: 0 auto;
    padding: 3.5%;
    border: 2px solid blue;
    border-radius: 10%;
    margin-bottom: 10%;
    margin-top:7%;
    background-color: black;
}
.calc_display{
 width: 100%;
 height: 5%;
 font-size: 24px;
 text-align: right;
 padding: 10px;
 margin-bottom: 10px;
 background-color: #f2f2f2;
 border: 1px solid #ccc;
 border-radius: 5px;
}
.button_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
  }
  .num_button, .op_button, .result_button, .clear_button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  .result_button, .clear_button {
    grid-column: span 2;
  }
  
  .op_button {
    background-color: #db9825;
  }
  
  .clear_button {
    background-color: #ff6666;
    color: #fff;
    margin-left: 20%;
  }
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    *{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    form{
        width: 80vw;
       max-width: 500px;
       min-width: 300px;
       margin: 0% auto;
     padding-bottom: 2em;
    }
    h2,p, h3{
        margin: 0% auto;
        text-align: center;
        padding: 2%;
    }
    body {
    width: 100%;
    height: 100vh;
    margin: 0% auto;
     background-color: #1b3229;
    color: #89c4ff;
    font-family: Italic;
     font-size: 17px;
    }
    input,select {
      margin: 1% auto;
      width: 100%;
      min-height: 2em;
      padding: 1%;
    }
    a{
    color:rgb(204, 255, 0);
    text-decoration: none;
    }
    
    a:hover{
    color:crimson;
    text-decoration: underline;
    }
    button{
        padding:10px;
        cursor: pointer;
    }
    input[type="text"], input[type="tel"], input[type="email"], select{
        border: 1px solid yellow;
        border-radius: 5px;
    }
    input[type="checkbox"] {
        display:block;
      margin: 30px -270px -50px;
    }
    label {
        display: block;
        margin: 1rem 0;
         padding: 2%;
        }
    .inline {
    width: unset;
    margin: 0 1.5em 2px 3px;
    vertical-align: middle;
    } 
    header, footer{
    text-align: center;
    }
    
    fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    }
    fieldset:last-of-type {
    border-bottom: none;
    }
    legend{
        padding: 15px 0 0 5px;
        }
    img{
    width: 80px;
    height: 70px;
    }
    b{
        margin: 0% auto;
    }
    .calculator{
        width: 200px;
        margin: 0 auto;
        padding: 5%;
        border: 2px solid blue;
        border-radius: 10%;
        margin-bottom: 10%;
        margin-top:6%;
        background-color: black;
    }
    .calc_display{
     width: 100%;
     height: 5%;
     font-size: 24px;
     text-align: right;
     padding: 10px;
     margin-bottom: 10px;
     background-color: #f2f2f2;
     border: 1px solid #ccc;
     border-radius: 5px;
    }
    .button_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5%;
      }
      .num_button, .op_button, .result_button, .clear_button {
        width: 100%;
        height: 50px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
      }
      .result_button, .clear_button {
        grid-column: span 2;
      }
      
      .op_button {
        background-color: #db9825;
      }
      
      .clear_button {
        background-color: #ff6666;
        color: #fff;
        margin-left: 20%;
      }
}

/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    *{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    form{
        width: 80vw;
       max-width: 500px;
       min-width: 300px;
       margin: 0% auto;
     padding-bottom: 2em;
    }
    h2,p, h3{
        margin: 0% auto;
        text-align: center;
        padding: 2%;
    }
    body {
    width: 100%;
    height: 100vh;
    margin: 0% auto;
     background-color: #1b3229;
    color: #89c4ff;
    font-family: Italic;
     font-size: 17px;
    }
    input,select {
      margin: 1% auto;
      width: 100%;
      min-height: 2em;
      padding: 1%;
    }
    a{
    color:rgb(204, 255, 0);
    text-decoration: none;
    }
    
    a:hover{
    color:crimson;
    text-decoration: underline;
    }
    button{
        padding:10px;
        cursor: pointer;
    }
    input[type="text"], input[type="tel"], input[type="email"], select{
        border: 1px solid yellow;
        border-radius: 5px;
    }
    input[type="checkbox"] {
        display:block;
      margin: 0% auto;
    }
    label {
        display: block;
        margin: 1rem 0;
         padding: 2%;
        }
    .inline {
    width: unset;
    margin: 0 1.5em 2px 3px;
    vertical-align: middle;
    } 
    header, footer{
    text-align: center;
    }
    
    fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    }
    fieldset:last-of-type {
    border-bottom: none;
    }
    legend{
        padding: 15px 0 0 5px;
        }
    img{
    width: 80px;
    height: 70px;
    }
    .calculator{
        width: 300px;
        margin: 0 auto;
        padding: 5%;
        border: 2px solid blue;
        border-radius: 10%;
        margin-bottom: 10%;
        margin-top:8%;
        background-color: black;
    }
    .calc_display{
     width: 100%;
     height: 5%;
     font-size: 13px;
     text-align: right;
     padding: 7px;
     margin-bottom: 7px;
     background-color: #f2f2f2;
     border: 1px solid #ccc;
     border-radius: 5px;
    }
    .button_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4%;
      }
      .num_button, .op_button, .result_button, .clear_button {
        width: 100%;
        height: 40px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
      }
      .result_button, .clear_button {
        grid-column: span 2;
      }
      
      .op_button {
        background-color: #db9825;
      }
      
      .clear_button {
        background-color: #ff6666;
        color: #fff;
        margin-left: 20%;
      }
}

/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    *{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    form{
        width: 80vw;
       max-width: 500px;
       min-width: 300px;
       margin: 0% auto;
     padding-bottom: 2em;
    }
    h2,p, h3{
        margin: 0% auto;
        text-align: center;
        padding: 2%;
    }
    body {
    width: 100%;
    height: 100vh;
    margin: 0% auto;
     background-color: #1b3229;
    color: #89c4ff;
    font-family: Italic;
     font-size: 17px;
    }
    input,select {
      margin: 1% auto;
      width: 100%;
      min-height: 2em;
      padding: 1%;
    }
    a{
    color:rgb(204, 255, 0);
    text-decoration: none;
    }
    
    a:hover{
    color:crimson;
    text-decoration: underline;
    }
    button{
        padding:10px;
        cursor: pointer;
    }
    input[type="text"], input[type="tel"], input[type="email"], select{
        border: 1px solid yellow;
        border-radius: 5px;
    }
    input[type="checkbox"] {
        display:block;
      margin: 0% auto;
    }
    label {
        display: block;
        margin: 1rem 0;
         padding: 2%;
        }
    .inline {
    width: unset;
    margin: 0 1.5em 2px 3px;
    vertical-align: middle;
    } 
    header, footer{
    text-align: center;
    }
    
    fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    }
    fieldset:last-of-type {
    border-bottom: none;
    }
    legend{
        padding: 15px 0 0 5px;
        }
    img{
    width: 80px;
    height: 70px;
    }
    .calculator{
        width: 300px;
        margin: 0 auto;
        padding: 5%;
        border: 2px solid blue;
        border-radius: 10%;
        margin-bottom: 10%;
        margin-top:8%;
        background-color: black;
    }
    .calc_display{
     width: 100%;
     height: 5%;
     font-size: 24px;
     text-align: right;
     padding: 10px;
     margin-bottom: 10px;
     background-color: #f2f2f2;
     border: 1px solid #ccc;
     border-radius: 5px;
    }
    .button_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4%;
      }
      .num_button, .op_button, .result_button, .clear_button {
        width: 100%;
        height: 50px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
      }
      .result_button, .clear_button {
        grid-column: span 2;
      }
      
      .op_button {
        background-color: #db9825;
      }
      
      .clear_button {
        background-color: #ff6666;
        color: #fff;
        margin-left: 20%;
      }
}