*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    width: 80vw;
   max-width: 500px;
   min-width: 300px;
   margin: 0 auto;
 padding-bottom: 2em;
}
h2,p{
    text-align: center;
}
body {
width: 100%;
height: 100vh;
margin: 10px 20px;
 background-color: #1b3229;
color: #89c4ff;
font-family: Italic;
 font-size: 17px;
}
input,select {
  margin: 10px 10px 0 0;
  width: 100%;
  min-height: 2em;
  padding:8px;
}
a{
color:rgb(204, 255, 0);
text-decoration: none;
}

a:hover{
color:crimson;
text-decoration: underline;
}
button{
    padding:10px;
    cursor: pointer;
}
input[type="text"], input[type="tel"], input[type="email"], select{
    border: 1px solid yellow;
    border-radius: 5px;
}
input[type="checkbox"] {
      width:unset;
      margin: 1em 0 0 0;
}
    label {
display: block;
margin: 1rem 0;
}
.inline {
width: unset;
margin: 0 1.5em 2px 3px;
vertical-align: middle;
} 
header, footer{
text-align: center;
}

fieldset {
border: none;
padding: 2rem 0;
border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type {
border-bottom: none;
}
b{
padding: 15px 0 0 5px;
}
legend{
    padding: 15px 0 0 5px;
    }
label{
padding: 10px;
}
img{
width: 80px;
height: 70px;
}