body,html{
    background-color:darkolivegreen;
    text-align: center;
    color:rgb(11, 195, 211);
    font-family: monospace;
    margin: 1%;
    padding: 0;
}
nav{
    padding-top: 1%;
}
p{
    text-align:center;
    font-family: sans-serif;
}
a{
    color:rgb(255, 213, 0);
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    color:crimson;
    text-decoration: solid;
}

main{
    text-align: left;
    margin: 0 auto;
}

h1,h2{
    text-align: center;
    color:rgb(11, 195, 211);
}
li{
    padding: 15px;
    font-size: 22px;
}
.Aaron{
    width: 40%;
    margin-left: 30%; 
}
img{
    width: 100px;
    height: 10%;
}
figure{
    text-align: center;
    font-family: sans-serif;
}
.no_CS{
    height: 3%;
    position: fixed;
    top: 1%; 
    left: 10px;
    border-radius: 20%;
    background-color:burlywood;
    font-size: 100%;
    font-family:'Courier New', Courier, monospace ;
  }
  h3{
    text-align: center;
    font-size: 25px;
  }
  h4{
    text-align: center;
    font-family:'Lucida Sans', Verdana, sans-serif;
    color: #50abe7;
    font-size: 30px;
  }
  h5{
    padding-left: 2%;
    font-size: 20px;
    color: #e1e471;
  }
  label{
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 1%;
  }
  input,select {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
  }

  .addSalary{
    position: relative;
    top: -90px;
    left: 72%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #1893db;
    color: rgb(219, 246, 133);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .modifySalary{
    position: relative;
    top: -90px;
    left: 66%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #1893db;
    color: rgb(219, 246, 133);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .displayResults{
    display:flex;
    margin: -10px 48% 3%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #1893db;
    color: rgb(219, 246, 133);
    border: none;
    border-radius: 5px;
    padding:1%;
    cursor: pointer;
  }
  .displaySalary{
    display:flex;
    margin: 15px 48%;
    padding: 1%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #1893db;
    color: rgb(219, 246, 133);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .results{
    text-align: center;
    font-size: 10px;
  }
  .resultTable{
    display: block;
    margin-left: 45%;
    padding:2%;
    font-size: 20px;
  }

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body{
        background-color:darkolivegreen;
        text-align: center;
        color:rgb(11, 195, 211);
        font-family: monospace;
    }
    p{
        text-align:center;
        font-family: sans-serif;
    }
    a{
        color:rgb(255, 213, 0);
        text-decoration: none;
        font-family: sans-serif;
    }
    
    a:hover{
        color:crimson;
        text-decoration: solid;
    }
    
    main{
        text-align: left;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    h2{
        text-align: center;
        color:rgb(11, 195, 211);
    }
    li{
        padding: 15px;
        font-size: 20px;
    }
    .Aaron{
        width: 60%;
        margin: 2% 20%; 
    }
    img{
        width: 100px;
        height: 10%;
    }
    figure{
        text-align: center;
        font-family: sans-serif;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body{
        background-color:darkolivegreen;
        text-align: center;
        color:rgb(11, 195, 211);
        font-family: monospace;
    }
    p{
        text-align:center;
        font-family: sans-serif;
    }
    a{
        color:rgb(255, 213, 0);
        text-decoration: none;
        font-family: sans-serif;
    }
    
    a:hover{
        color:crimson;
        text-decoration: solid;
    }
    
    main{
        text-align: left;
        margin: 0% auto;
    }
    
    h2{
        text-align: center;
        color:rgb(11, 195, 211);
    }
    li{
        padding: 15px;
        font-size: 20px;
    }
    .Aaron{
        width: 60%;
        margin: 2% 20%; 
    }
    img{
        width: 100px;
        height: 10%;
    }
    figure{
        text-align: center;
        font-family: sans-serif;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body{
        background-color:darkolivegreen;
        text-align: center;
        color:rgb(11, 195, 211);
        font-family: monospace;
    }
    p{
        text-align:center;
        font-family: sans-serif;
    }
    a{
        color:rgb(255, 213, 0);
        text-decoration: none;
        font-family: sans-serif;
    }
    
    a:hover{
        color:crimson;
        text-decoration: solid;
    }
    
    main{
        text-align: left;
        margin: 0% auto;
    }
    
    h2{
        text-align: center;
        color:rgb(0, 0, 0);
    }
    li{
        padding: 15px;
        font-size: 20px;
    }
    .Aaron{
        width: 10%;
        margin: 2% 20%; 
    }
    img{
        width: 100px;
        height: 10%;
    }
    figure{
        text-align: center;
        font-family: sans-serif;
    }
    nav.one{
        font-size: 15px;
    }
}
