<%- include('./partials/header.ejs') %>
<main style="background-image: url('/images/leather.jpg'); padding-top: 5%; padding-bottom: 2%;">
    <div class="content">
        <h3 style="width: 10px; color: black;"><%= error.status %> Error</h3> 
        <p><%= error.message %></p>
    </div>
</main>
<%- include('./partials/footer.ejs') %>