<%- include('../partials/header.ejs') %>
<main style="background-image: url('/images/leather.jpg');">
    <div class="content-wrapper">
        <img src="/images/aaron.jpg" alt="Aaron Rodgers" class="left-img">
        <div class="text-content">
            <h1>Legacy Cards</h1>
            <p>Find your favorite National Football League players as you browse our wide variety of Football Cards. Options from all around the league to please every team's fan.</p>
            <a href="/cards" class="btn-collections">Collections <span>&rarr;</span></a>
        </div>
        <img src="/images/tombrady.jpg" alt="Tom Brady" class="right-img">
    </div>
    <img src="/images/peyton.jpg" alt="Peyton Manning" class="bottom-img">
</main>
<%- include('../partials/footer.ejs') %>