<footer> 
    <p style="color: #ffffff;">&copy; Legacy Cards</p>
    <a href="#"><img class="link" src="/images/facebook.png" alt="facebook"></a>
    <a href="#"><img class="link" src="/images/instagram.png" alt="instagram"></a>
    <a href="#"><img class="link" src="/images/tiktok.png" alt="tiktok"></a>
</footer>
</body>
</html>