 <footer>
    <nav>
       <a href="https://webpages.charlotte.edu/pjenki17/">Charlotte.edu</a>
       ||
       <a href="https://github.com/parkerJenkins36">Github</a>
       ||
       <a href="https://github.com/parkerJenkins36/parkerJenkins36.github.io/tree/main/itis3135">Github.io</a>
       ||
       <a href="https://www.freecodecamp.org/ParkerJenkins">freeCodeCamp</a>
       ||
       <a href="https://www.codecademy.com/profiles/parker.jenkins">Codecademy</a>
       ||
       <a href="https://www.linkedin.com/in/parker-jenkins-6618112a9/">LinkedIn</a>
   </nav>
   <p>Page Built By <a href="pjenkiproduction.co/">PointyJabbySabers <span>&copy;2024</span></a><a href="https://www.freecodecamp.org/certification/ParkerJenkins/responsive-web-design"> Certified in RWD.</a></p>
   <p>Surf the WWWeb</p>
   <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img src="https://jigsaw.w3.org/css-validator/images/vh40.gif" width="88" height="31" alt="Valid HTML">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss-blue" width="88" height="31" alt="Valid CSS">
</a>
<a href="https://wave.webaim.org/report#" id="validation_accessibility">
    <img  width="88" height="31" src="images/button_validation_wcag.png" alt="Wave Accessibility">
</a>
<button class="no_CS" type="button" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(function(e) { e.setAttribute('href', ''); });">No CSS</button>
<script>
    const validationLinkHTML = document.getElementById("validation_link_html");
    if (validationLinkHTML) {
        validationLinkHTML.setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    }
    const validationLinkCSS = document.getElementById("validation_link_css");
    if (validationLinkCSS) {
        validationLinkCSS.setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    }
    const validationAccessibility = document.getElementById("validation_accessibility");
    if (validationAccessibility) {
        validationAccessibility.setAttribute("href", "https://wave.webaim.org/report#/" + location.href);
    }
</script>
</footer>

