<header>
    <h1>Parker Jenkins Patient Jackal ⚔️ ITIS 3135</h1>
    <nav class="one" id="nav_1">
       <a href="./">Home</a>
       ⚔️
       <a href="introduction.html">Introduction</a>
       ⚔️
       <a href="contract.html">Contract</a>
       ⚔️
       <a href="tables.html">Tables</a>
       ⚔️
       <a href="forms.html">Forms</a>
       ⚔️
       <a href="website_evaluations.html">Website_Evaluations</a>
       ⚔️
       <a href="firstscripts.html">First Scripts</a>
       ⚔️
       <a href="byo_intro.html">BYO_Intro</a>
       ⚔️
       <a href="about.html">About</a>
       ⚔️
       <a href="calculator.html">Calculator</a>
      </nav>
      <nav id="nav_2">
      <a href="stuff/BAdex@mple+.html">Junk Page</a>
      </nav>
   </header>