<%- include('../partials/header.ejs') %>
<main style="background-image: url('/images/leather.jpg'); padding-top: 5%; padding-bottom: 2%;">
<div class="content">
    <h2>Error</h2>
    <p class="error-message">Oops! Something went wrong.</p>
    <p class="error-details"><%= errorMessage || "An unexpected error occurred." %></p>
    <a href="/" class="back-button">Go Back to Home</a>
</div>
</main>
<%- include('../partials/footer.ejs') %>